<launch>
  <include file="$(find shipbot_ros)/launch/tfs.launch" />
  <rosparam file="$(find shipbot_ros)/config/stations.yaml" />
  <node name="mission_control_node" pkg="shipbot_ros" type="mission_control_node" output="screen">
    <param name="mission_file" value="$(find shipbot_ros)/config/mission_file.txt"/>
    <param name="do_localization_routine" value="true"/>
    <param name="do_locomotion" value="true"/>
    <param name="do_manipulation" value="false"/>
  </node>
</launch>
