<launch>
  <arg name="rvizconfig" default="$(find shipbot_ros)/rviz/arm.rviz" />
  <node name="shipbot_rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="test_fk" pkg="shipbot_ros" type="test_fk" output="screen">
    <param name="urdf" value="$(find shipbot_urdf)/urdf/shipbot.urdf"/>
    <param name="rate" value="100"/>
  </node>
</launch>
